---
import Contact from '../components/Contact.astro';
import Feature from '../components/Feature.astro';
import Footer from '../components/Footer.astro';
import Menu from '../components/Menu.astro';
import Principal from '../components/Principal.astro';
import Prototype from '../components/Prototype.astro';
import ValueProposal from '../components/ValueProposal.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Landing Page Shelf">
	<Menu />
	<main class="mt-[130px] ml-[48px]">
		<Principal />
		<ValueProposal />
		<Feature />
		<Prototype />
		<Contact />
	</main>
	<Footer />
</Layout>
