---
import ContactForm from "@/components/ui/ContactForm.astro";
import LayoutSection from "@/layouts/LayoutSection.astro";
---

<LayoutSection title='contact'>
    <div class="container">
        <ContactForm/>
    </div>
</LayoutSection>

<style>
    .container {
        display: flex;
        flow-direction: row;
        gap: 180px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        height: auto;
    }
</style>
