---
import LayoutSection from "@/layouts/LayoutSection.astro";
---
<LayoutSection title='contact'>
    <h1 class="text-2xl text-text-default-neutral">Contact</h1>
    <p>Send me an email at</p>
</LayoutSection>
