---
import ContactForm from "@/components/ui/ContactForm.astro";
import MetricCard from "@/components/ui/MetricCard.astro";
import ProjectHub from "@/components/ui/ProjectHub.astro";
import LayoutSection from "@/layouts/LayoutSection.astro";
---

<LayoutSection title='contact'>
    <div class="container">
        <ContactForm aria-labelledby="contact-form"/>
        <section class="subcontainer" role="region" aria-labelledby="metrics-section">
            <ProjectHub aria-labelledby="project-hub"/>
            <MetricCard id="metric-visits" title="Visitas" amount={0}/>
            <MetricCard id="metric-forms-sent" title="Formularios Envíados" amount={0}/>
            <MetricCard id="metric-interactions" title="Interacciones con el botón de acción" amount={0}/>
        </section>
    </div>
</LayoutSection>

<style>
    .container {
        display: flex;
        flow-direction: column;
        gap: 10rem;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }

    .subcontainer {
        /* Layout */
        display: flex;
        width: 100%;
        max-width: 31.25rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
    }
</style>
