<footer class="w-full bg-background-brand-primary text-text-default-neutral flex flex-row h-[80px] items-center justify-center text-xl">
    <p>Copyright © 2024 Shelf, Construido con Astro</p>
</footer>