<header class="bg-background-brand-primary rounded-lg p-3 !text-text-default-neutral fixed z-50 top-[24px] left-[48px] right-[48px]">
    <nav class="flex flex-row gap-28">
        <img alt="icon del software" src="./favIconNoBackground.svg"/>
        <ul class="flex flex-row gap-16 w-full justify-center items-center font-semibold text-xl">
            <li>
                <h6><a href="#principal">Inicio</a></h6>
            </li>
            <li>
                <h6><a href="#valueProposal">Propuesta de valor</a></h6>
            </li>
            <li>
                <h6><a href="#feature">Caracteristicas</a></h6>
            </li>
            <li>
                <h6><a href="#prototype">Prototipo</a></h6>
            </li>
            <li>
                <h6><a href="#contact">Contactanos</a></h6>
            </li>
        </ul>
    </nav>
</header>
