---
import LayoutSection from "@/layouts/LayoutSection.astro";
---

<LayoutSection title="principal">
    <h1 class="text-2xl text-text-default-neutral">Principal</h1>
    <p>Principal</p>
</LayoutSection>
