---
import LayoutSection from "@/layouts/LayoutSection.astro";
---

<LayoutSection title="prototype">
    <h1 class="text-2xl text-text-default-neutral">Prototype</h1>
    <p>Prototype</p>
    <div class="flex flex-row dif">

        <img width="500px" height="323.324px" src="" alt="" style="background:red" >
        <img width="500px" height="323.324px" src="" alt="" style="background:red" >
        <img width="500px" height="323.324px" src="" alt="" style="background:red" >
    </div>
</LayoutSection>

<style>
 .dif{
overflow-y: hidden;
 }
 </style>
