---
import LayoutSection from "@/layouts/LayoutSection.astro";
import CardValue from "./ui/CardValue.astro";
---

<LayoutSection title="valueProposal" height={1117}>
    <h1>Lo que nos hace diferentes</h1>
    <div class="content1">
        <CardValue
            title="Automatización Inteligente y Seguridad"
            subTitle="Descubre cómo mejoramos tu productividad."
            content="Garantizamos la integración de procesos con la máxima seguridad."
        />
        <CardValue
            title="Experiencia de Usuario Intuitiva"
            subTitle="Diseños adaptados para facilitar la interacción."
            content="Una interfaz diseñada para potenciar tu creatividad."
        />
        <CardValue
            title="Migración de Datos Sin Esfuerzo"
            subTitle="Simplificamos el manejo de datos."
            content="Transfiere tus datos con facilidad y seguridad."
        />
    </div>
</LayoutSection>

<style>
    h1 {
        text-align: center;
        font-size: 3rem;
        line-height: 120%; /* 3.6rem */
        letter-spacing: -0.06rem;
        font-weight: 700;
        color: #fff;
        margin-top: 10.08rem;
        margin-bottom: 11.31rem;
    }
    .content1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin-inline: 14.5rem;
    }
</style>
