---
type Props = {
    title: string;
    height: "450" | "1117" | "843";
}

const { title, height } = Astro.props;
---

<section id={title} class={`bg-[rgba(13,26,38,0.25)] p-[30px] rounded-[8px] min-h-[${height}px]`}>
    <slot />
</section>
