---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="landing page del prototipo Shelf desarrollado para el curso de emprendimiento de base tecnologico" />
		<meta name="viewport" content="width=device-width" />
		<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="main">
		<slot />
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html{
		font-size: 10px;
	}

	body {
		font-family: 'Poppins';
	}

	.main {
		background: linear-gradient(180deg, #0064C8 0%, #000 100%);
	}
</style>